@CHARSET "ISO-8859-1";
/*
	Estilos de tags
*/
body,input {
	font-family: Arial;
	font-size: 9pt;
}

input {
	border: 1px solid black;
	padding: 0px 2px 0px 2px;
	background-color: white;
}

table tfoot tr td {
	text-align: right;
}

div, form {
	margin: 0em;
	padding: 0em;
}

.left {
	text-align: left;	
}

img {
	border: 0em;
}

.right {
	text-align: right;	
}

/*
	Estilos comuns
*/
.error {
	color: red;
}

/*
	RichFaces
*/
.rich-panel-body {
	padding: 0px;
}
.rich-panel-header {
	font-size: 10pt;
	font-weight: bold;
}