@import url(deliciouslyblue/calendar.css);

@CHARSET "ISO-8859-1";
/*
	Estilos de tags
*/

body{
	
	
}


body,input {
	font-size: 11px; 
	font-family: sans-serif;
}

input[type=text]{
	border-style: groove;
	height: 16px;
	border-color:#C0C0C0;
		
}
a, a:visited {
    color: #1874CD;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: inherit;
    font-weight: bold;
    text-decoration: underline;
}

.button, button {
    padding: 2px;
    background-color: #6DA6E2;
    color: #FFFFFF;
    /*border: 2px solid #2763A5;*/ 
    font-size: 11px;
    
}

.button-disabled {
    padding: 2px;
    background-color: #D2DEE2;
    color: #505456;
    border: 1px solid #2763A5; 
    font-size: 11px;
}

.message {
	background-color: #FFFFCC ;
	border: solid 1px black; 
	width: 100%;
	padding: 0.1em;
	padding-left: 0.6em;
	padding-right: 0.6em;
}	

span.fieldError, .errorMessage {
    color: red;
    font-size: .95em;
    font-weight: bold;
    display: block;
}


#topoBalao {
	padding: 0.2em;
	padding-left: 0.8em;
	background-color: #6da6e2;
	border-style: solid;
	border-width: 1px;	
	width: 98%;
	height: 12px;
	color: #ffffff;
	font: bold;
	font-family: sans-serif;
	font-size: 12px;
	text-align: left;
	vertical-align: center;
}
table tfoot tr td {
	text-align: right;
}

div, form {
	margin: 0em;
	padding: 0em;
}

.left {
	text-align: left;	
}

img {
	border: 0em;
}

.right {
	text-align: right;	
}

/*
	Estilos comuns
*/
.error {
	color: red;
}

/*
	RichFaces
*/
.rich-panel-body {
	padding: 0px;
}
.rich-panel-header {
	font-size: 10pt;
	font-weight: bold;
}

/*
	Agrupador Google: ToolTip Style
*/
.tooltip {
	margin: 0;
	padding: 2px 5px 2px 5px;
	
	font: normal normal normal 8pt Arial;
	
	background-color: #F0F8FF;
	border: 1px Gray solid;
}

/*
	Marcador Temporário (Adicionando um novo crime): ToolTip Style
*/
.infoMarcadorTemporario {
	width: 150px;
	heidth: 100px;
	
	padding: 5px;
	
	font: normal normal normal 8pt Arial;
	text-align: justify;
	
	border: solid 1px black;
	background-color: #F0F8FF;
}

#topoBalaoSetaCima {
	text-align: right;
	cursor: pointer;
	display: block;
	padding: 25px 5px 0;
 	background: url(../gadget/img/balao/bubble.gif) no-repeat top;			
}

#meioBalaoSetaCima {
	display: block;
	padding: 0 8px; 
	background: url(../gadget/img/balao/bubble_filler.gif) repeat bottom;			
}

#baseBalaoSetaCima {
	display: block;
	padding:3px 8px 10px;				
 	background: url(../gadget/img/balao/bubble.gif) no-repeat bottom;			
}

#topoBalaoSetaBaixo {
	text-align: right;
	cursor: pointer;
	display: block;
	padding: 3px 8px 0;
 	background: url(../gadget/img/balao/bubble_baixo.gif) no-repeat top;			
}

#meioBalaoSetaBaixo {
	display: block;
	padding: 0 8px; 
	background: url(../gadget/img/balao/bubble_filler.gif) repeat bottom;			
}

#baseBalaoSetaBaixo {
	display: block;
	padding:30px 8px 0;				
 	background: url(../gadget/img/balao/bubble_baixo.gif) no-repeat bottom;			
}

/* NOVO */

.topcrimes {
	height: 25px;
	padding-left: 40px;
	font: normal 22px sans-serif;
	background: url(../images/icones_sites/sprite2.png) no-repeat left bottom;
}

.toptitulo {
	font: normal 18px sans-serif;
}

#footer {
/*	background-color: #BCD2EE;*/
}

#footer a, #footer a:visited {
	color: #1874CD;
}

.pagination{
padding: 2px;
}

.pagination ul{
margin: 0;
padding: 0;
text-align: left; /*Set to "right" to right align pagination interface*/
font-size: 12px;
}

.pagination li{
list-style-type: none;
display: inline;
padding-bottom: 1px;
margin-right: 5px;
}

.pagination a, .pagination a:visited{
padding: 0 5px;
/*border: 1px solid #9aafe5;*/
border: 1px solid #2763A5;
text-decoration: none;
background-color: #6DA6E2;
color: #fff;
/*color: #2e6ab1;*/
}

.pagination a:hover, .pagination a:active{
/*border: 1px solid #2b66a5;*/
border: 1px solid #9aafe5;
color: #2e6ab1;
background-color: #fff;
}

.pagination a.currentpage{
background-color: #2e6ab1;
color: #FFF !important;
border-color: #2b66a5;
font-weight: bold;
cursor: default;
}

.pagination a.disablelink, .pagination a.disablelink:hover{
background-color: white;
cursor: default;
color: #929292;
border-color: #929292;
font-weight: normal !important;
}

.pagination a.prevnext{
font-weight: bold;
margin-right: 25px;
margin-left: 25px;
}
