<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans	   http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
		http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context-2.5.xsd
		http://www.springframework.org/schema/tx       http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

	<!-- Data Source SQL Sever -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		 
		 <property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost/wikicrimes" /> 
		<property name="username" value="root" />
		<property name="password" value="root" />
		<property name="maxActive" value="50"/>     
 		<property name="maxIdle" value="10"/>
 		<property name="initialSize" value="10"/>
        <property name="maxWait" value="1000"/>
		<property name="validationQuery" value="SELECT 1"/>
        <property name="removeAbandoned" value="true" />
        <property name="removeAbandonedTimeout" value="300" />
        <property name="logAbandoned" value="true" />
        <property name="defaultAutoCommit" value="true"/>
	</bean>

	
	<bean id="hibernateSessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="mappingResources">
            <list>            
            	 <value>org/wikicrimes/model/ChavesCriptografia.hbm.xml</value>
                 <value>org/wikicrimes/model/Usuario.hbm.xml</value>
                 <value>org/wikicrimes/model/Confirmacao.hbm.xml</value>
                 <value>org/wikicrimes/model/Crime.hbm.xml</value>
                 <value>org/wikicrimes/model/CrimeRazao.hbm.xml</value>
                 <value>org/wikicrimes/model/CrimeVitima.hbm.xml</value>
                 <value>org/wikicrimes/model/TipoArmaUsada.hbm.xml</value>
                 <value>org/wikicrimes/model/TipoCrime.hbm.xml</value>
                 <value>org/wikicrimes/model/TipoLocal.hbm.xml</value>
                 <value>org/wikicrimes/model/TipoPapel.hbm.xml</value>
                 <value>org/wikicrimes/model/TipoRegistro.hbm.xml</value>
                 <value>org/wikicrimes/model/TipoTransporte.hbm.xml</value>
                 <value>org/wikicrimes/model/TipoVitima.hbm.xml</value>                 
                 <value>org/wikicrimes/model/Perfil.hbm.xml</value>
                 <value>org/wikicrimes/model/Comentario.hbm.xml</value>
                 <value>org/wikicrimes/model/EstatisticaPais.hbm.xml</value>
                 <value>org/wikicrimes/model/EstatisticaEstado.hbm.xml</value>
                 <value>org/wikicrimes/model/EstatisticaCidade.hbm.xml</value>
                 <value>org/wikicrimes/model/AreaObservacao.hbm.xml</value>
                 <value>org/wikicrimes/model/PontosArea.hbm.xml</value>
                 <value>org/wikicrimes/model/EntidadeCertificadora.hbm.xml</value>
                 <value>org/wikicrimes/model/PeriodoInformacao.hbm.xml</value>
                 <value>org/wikicrimes/model/RedeSocial.hbm.xml</value>
                 <value>org/wikicrimes/model/UsuarioRedeSocial.hbm.xml</value>
                 <value>org/wikicrimes/model/Log.hbm.xml</value>
                 <value>org/wikicrimes/model/TipoLog.hbm.xml</value>
                 <value>org/wikicrimes/model/Relato.hbm.xml</value>
                 <value>org/wikicrimes/model/Razao.hbm.xml</value>
                 <value>org/wikicrimes/model/RelatoRazao.hbm.xml</value>
                 <value>org/wikicrimes/model/RepasseRelato.hbm.xml</value>
                 <value>org/wikicrimes/model/ComentarioRelato.hbm.xml</value>       
                 <value>org/wikicrimes/model/ConfirmacaoRelato.hbm.xml</value>                         
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
               
                <prop key="hibernate.show_sql">false</prop>
            </props>
        </property>
    </bean>
	
	
	<!-- Transaction Manager Configuration --> 
	<bean id="txManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="hibernateSessionFactory" />
	</bean>
	

	<!-- Usando annotations para controle de transacoes --> 
	<tx:annotation-driven transaction-manager="txManager" />

	<context:component-scan base-package="org.wikicrimes"/>
</beans>
