<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>WikiCrimes.org - Conferma del Crime</title>
<style type="text/css">
<!--
.style1 {font-family: Arial, Helvetica, sans-serif}
.style3 {font-size: 24px}
.style4 {font-family: Arial, Helvetica, sans-serif; font-size: 18px; }
.style5 {font-size: 16px}
.style6 {font-family: Arial, Helvetica, sans-serif; font-size: 16px; }
-->
</style>
</head>

<body >
<table align="center" width="678" border="0" cellpadding="1" cellspacing="1" bgcolor="#D7E4EC" >
  <tr>
    <td colspan="3"><img src="http://www.wikicrimes.org/images/topo.png" alt="header" width="678" height="67" /></td>
  </tr>
  <tr>
    <td width="22">&nbsp;</td>
    <td width="643">&nbsp;</td>
    <td width="7">&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><span class="style6">Ciao ${confirmacao.usuario.primeiroNome}</span><span class="style5">,</span></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><span class="style5"></span></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td height="44">&nbsp;</td>
    <td>
	<div align="justify"><span class="style6">${usuario.primeiroNome} (${usuario.email})  le ha chiesto di dare il tuo contributo con la valutazione di un record di 
	(#if($crime.tipoCrime.idTipoCrime ne 5)
			${tipoCrime} a ${tipoVitima}
		#end
		#if($crime.tipoCrime.idTipoCrime eq 5)
			${tipoCrime}
		#end) fatto nel sistema WikiCrimes:</span></div></td>
    <td>&nbsp;</td>
  </tr>
#if($confirmacao.mensagem ne "")
  <tr>
    <td>&nbsp;</td>
    <td><span class="style6">${usuario.primeiroNome}, rafforza la sua richiesta dicendo:</span></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td height="80">&nbsp;</td>
    <td align="right">
	<p align="right" class="style1">
		<div align="justify" style="width:300px">
			"${confirmacao.mensagem}"
		</div>
	</p>
    </td>
    <td>&nbsp;</td>
  </tr>
#end
  <tr>
    <td>&nbsp;</td>
    <td align="center"><a href="http://www.wikicrimes.org/main.html?idcrime=${crime.chave}&idconf=${confirmacao.idConfirmacao}"><img src="http://www.wikicrimes.org/images/avalie_en.PNG" width="140" height="68" alt="avaliar" /></a></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td class="style1"><div align="justify">Fare clic sul pulsante di sopra o <span class="style3"><a href="http://www.wikicrimes.org/main.html?idcrime=${crime.chave}&idconf=${confirmacao.idConfirmacao}">qui</a></span> 
		per visualizzare il record nella sua interezza e lasciare la vostra valutazione registrati. La sua valutazione &egrave; fondamentale per il record di <span class="style6">${usuario.primeiroNome}</span> ha credibilità nel sistema, per questo motivo Lei &egrave; indicato a collaborare.</div></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td class="style1"> &nbsp;</td>
    <td>&nbsp;</td>
  </tr>
   <tr>
    <td>&nbsp;</td>
    <td class="style1"> 
	<p>(*) Se non &egrave; possibile fare clic sul link, copia l'indirizzo "http://www.wikicrimes.org/main.html?idcrime=${crime.chave}&idconf=${confirmacao.idConfirmacao}" e pasta nella finestra del browser</p>
    </td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><p class="style4">    Personale Wikicrimes </p>    </td>
    <td>&nbsp;</td>
  </tr>
  
</table>

<table align="center" width="678" border="0" cellpadding="1" cellspacing="1" bgcolor="whith">

	<tr class="style1">
		<td width="25"><img src="_space.gif" width="25" height="1" border="0"></td>	
		<td width="225"><span class="footerText">Questa email &egrave; stata inviata a [${confirmacao.usuario.email}]<br><strong><unsubscribe></unsubscribe></strong>, se <em>non</em> desidera più ricevere email di questo tipo.</span></td>
		<td width="225" align="right"><img src="/_space.gif" width="1" height="15" border="0"><br><span class="footerText"><strong><a href="#">WikiCrimes.org</a></strong><br>&copy;2007-2009 <a href="http://www.wikinova.com.br">Wikinova Solu&ccedil;&otilde;es</a>. Tutti i diritti riservati<br></span><br><img src="/_space.gif" width="1" height="15" border="0"><br></td>

		<td width="25"><img src="_space.gif" width="25" height="1" border="0"></td>	
	</tr>
</table>
</body>
</html>