<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">

	<display-name>WikiCrimes</display-name>

	<!-- [INSERT FRAGMENT HERE] -->
	<!-- Define the basename for a resource bundle for I18N -->
	<context-param>
		<param-name>
			javax.servlet.jsp.jstl.fmt.localizationContext
		</param-name>
		<param-value>messages</param-value>
	</context-param>
 	<session-config>
 		<session-timeout>30</session-timeout>
 	</session-config>
	<!-- From http://wiki.apache.org/myfaces/Performance -->
	<!--Server side state saving performs better: -->
	<context-param>
		<param-name>javax.faces.STATE_SAVING_METHOD</param-name>
		<param-value>client</param-value>
	</context-param>
	<!-- Next step - disable compression of state in server: -->
	<context-param>
		<param-name>
			org.apache.myfaces.COMPRESS_STATE_IN_SESSION
		</param-name>
		<param-value>false</param-value>
	</context-param>
		<context-param>
		<param-name>
			org.apache.myfaces.COMPRESS_STATE_IN_CLIENT
		</param-name>
		<param-value>true</param-value>
	</context-param>
	
	<!-- Very important, too, is to disable the serialization of state,
		serialization and deserialization of the component tree is a major performance hit. -->
	<context-param>
		<param-name>
			org.apache.myfaces.SERIALIZE_STATE_IN_SESSION
		</param-name>
		<param-value>false</param-value>
	</context-param>
<!--  
	<context-param>
		<param-name>org.ajax4jsf.VIEW_HANDLERS</param-name>
		<param-value>com.sun.facelets.FaceletViewHandler</param-value>
	</context-param>
-->
	<context-param>
		<param-name>javax.faces.DEFAULT_SUFFIX</param-name>
		<param-value>.xhtml</param-value>
	</context-param>
	<context-param>
		<param-name>facelets.DEVELOPMENT</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>facelets.LIBRARIES</param-name>
		<param-value>/WEB-INF/taglibs/tomahawk.taglib.xml</param-value>
	</context-param>
	<context-param>
		<param-name>onload-config</param-name>
		<param-value>/WEB-INF/onload-config.xml</param-value>
	</context-param>
	<context-param>  
		<param-name>org.apache.myfaces.ALLOW_JAVASCRIPT</param-name>  
		<param-value>true</param-value>  
	</context-param>
	
	<!-- RichFaces -->
	
	<filter>
	  <display-name>RichFaces Filter</display-name> 
	  <filter-name>richfaces</filter-name> 
	  <filter-class>org.ajax4jsf.Filter</filter-class> 
	</filter>
	<filter-mapping>
	  <filter-name>richfaces</filter-name> 
	  <servlet-name>faces</servlet-name> 
	  <dispatcher>REQUEST</dispatcher> 
	  <dispatcher>FORWARD</dispatcher> 
	  <dispatcher>INCLUDE</dispatcher> 
	 </filter-mapping>
	 <context-param>  
    	<param-name>org.richfaces.SKIN</param-name>
		<!-- <param-value>emeraldTown</param-value>-->
		<!--<param-value>classic</param-value>-->
		<param-value>blueSky</param-value> 
		<!-- <param-value>ruby</param-value> -->
		<!-- <param-value>classic</param-value> -->
		<!-- <param-value>deepMarine</param-value> -->
		<!-- <param-value>japanCherry</param-value> -->
		<!-- <param-value>plain</param-value> -->  
    </context-param>  
    
	<!-- FIM - RichFaces -->
	
	<filter>
		<filter-name>extensionsFilter</filter-name>
		<filter-class>
			org.apache.myfaces.webapp.filter.ExtensionsFilter
		</filter-class>
		<init-param>
			<param-name>maxFileSize</param-name>
			<param-value>2m</param-value>
		</init-param>
	</filter>

	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>
			org.springframework.web.filter.CharacterEncodingFilter
		</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>ISO-8859-1</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>

	<filter>
		<filter-name>messageFilter</filter-name>
		<filter-class>org.wikicrimes.web.MessageFilter</filter-class>
	</filter>

	

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/applicationContext*.xml</param-value>
	</context-param>

	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>messageFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>

	

	<filter-mapping>
		<filter-name>extensionsFilter</filter-name>
		<servlet-name>faces</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>extensionsFilter</filter-name>
		<url-pattern>/faces/myFacesExtensionResource/*</url-pattern>
	</filter-mapping>

	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>

	<listener>
		<listener-class>
			org.apache.myfaces.webapp.StartupServletContextListener
		</listener-class>
	</listener>

	<servlet>
		<servlet-name>faces</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>faces</servlet-name>
		<url-pattern>*.html</url-pattern>
	</servlet-mapping>
	
	<!-- Hibernate -->
	<filter>
		<filter-name>HibernateSessionFilter</filter-name>
		<filter-class>
			org.springframework.orm.hibernate3.support.OpenSessionInViewFilter
		</filter-class>
		<init-param>
			<param-name>sessionFactoryBeanName</param-name>
			<param-value>sessionFactory</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>HibernateSessionFilter</filter-name>
		<servlet-name>faces</servlet-name>
	</filter-mapping>
	
	<!-- Servlet Manipulador de Arquivos TXT-->
	<servlet>
		<servlet-name>ServletManipuladorTXT</servlet-name>
		<servlet-class>org.wikicrimes.servlet.ServletManipuladorTXT</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ServletManipuladorTXT</servlet-name>
		<url-pattern>/ServletManipuladorTXT</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ServletRpx</servlet-name>
		<servlet-class>org.wikicrimes.servlet.ServletRpx</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ServletRpx</servlet-name>
		<url-pattern>/ServletRpx</url-pattern>
	</servlet-mapping>
	
	<servlet>
  		<servlet-name>ServletUbiq</servlet-name> 
  		<servlet-class>org.wikicrimes.servlet.ServletUbiq</servlet-class> 
   </servlet>
   
   <servlet-mapping>
  		<servlet-name>ServletUbiq</servlet-name> 
 		 <url-pattern>/ServletUbiq</url-pattern> 
   </servlet-mapping>
	
	<servlet>
		<servlet-name>ServletInterfaceComunicacao</servlet-name>
		<servlet-class>org.wikicrimes.servlet.ServletInterfaceComunicacao</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ServletInterfaceComunicacao</servlet-name>
		<url-pattern>/ServletInterfaceComunicacao</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ServletOpensocial</servlet-name>
		<servlet-class>org.wikicrimes.servlet.ServletOpensocial</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ServletOpensocial</servlet-name>
		<url-pattern>/ServletOpensocial</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ServletWikiCrimesApi</servlet-name>
		<servlet-class>org.wikicrimes.servlet.ServletWikiCrimesApi</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ServletWikiCrimesApi</servlet-name>
		<url-pattern>/ServletWikiCrimesApi</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ServletKernelMap</servlet-name>
		<servlet-class>org.wikicrimes.servlet.ServletKernelMap</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ServletKernelMap</servlet-name>
		<url-pattern>/ServletKernelMap</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ServletImagemMapa</servlet-name>
		<servlet-class>org.wikicrimes.servlet.ServletImagemMapa</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ServletImagemMapa</servlet-name>
		<url-pattern>/ServletImagemMapa</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ServletScreenShotMapa</servlet-name>
		<servlet-class>org.wikicrimes.servlet.ServletScreenShotMapa</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ServletScreenShotMapa</servlet-name>
		<url-pattern>/ServletScreenShotMapa</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ServletQRCode</servlet-name>
		<servlet-class>org.wikicrimes.servlet.ServletQRCode</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ServletQRCode</servlet-name>
		<url-pattern>/ServletQRCode</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ServletAreasRisco</servlet-name>
		<servlet-class>org.wikicrimes.servlet.ServletAreasRisco</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ServletAreasRisco</servlet-name>
		<url-pattern>/ServletAreasRisco</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ServletRotaSegura</servlet-name>
		<servlet-class>org.wikicrimes.servlet.ServletRotaSegura2</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ServletRotaSegura</servlet-name>
		<url-pattern>/ServletRotaSegura</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ServletIphone</servlet-name>
		<servlet-class>org.wikicrimes.servlet.ServletIphone</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ServletIphone</servlet-name>
		<url-pattern>/ServletIphone</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>TesteCenariosRotas</servlet-name>
		<servlet-class>org.wikicrimes.util.kernelMap.testes.TesteCenariosRotas</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>TesteCenariosRotas</servlet-name>
		<url-pattern>/TesteCenariosRotas</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CrimeRatioServlet</servlet-name>
		<servlet-class>org.wikicrimes.servlet.CrimeRatioServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CrimeRatioServlet</servlet-name>
		<url-pattern>/CrimeRatioServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>RSSGeneratorServlet</servlet-name>
		<servlet-class>org.wikicrimes.servlet.RSSGeneratorServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>RSSGeneratorServlet</servlet-name>
		<url-pattern>/rss/*</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<error-page>
		<error-code>404</error-code>
		<location>/404.jsp</location>
	</error-page>

	<error-page>
		<error-code>500</error-code>
		<location>/error.jsp</location>
	</error-page>
	
	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/falhaGenerica.xhtml</location>
	</error-page>

	<security-constraint>

		<display-name>		Prevenindo acesso direto a paginas JSP
		</display-name>

		<web-resource-collection>

			<web-resource-name>Raw-JSF-JSP-Pages</web-resource-name>

			<!-- Adicione o caminho para cada arquivo .jsp  -->

			<url-pattern>/404.jsp</url-pattern>
			<url-pattern>/botoes.xhtml</url-pattern>
			<url-pattern>/confirmaCrime.xhtml</url-pattern>
			<url-pattern>/crimeConfirmado.xhtml</url-pattern>
			<url-pattern>/mostrarDados.xhtml</url-pattern>
			<url-pattern>/mostrarInformacoes.xhtml</url-pattern>
			<url-pattern>/listarCrimesAdmin.xhtml</url-pattern>
			<url-pattern>/botoes.html</url-pattern>
			<!--
			<url-pattern>/mostrarInformacoes.html</url-pattern>
			<url-pattern>/mostrarDados.html</url-pattern>
			<url-pattern>/mostrarGraficos.html</url-pattern>
 			-->
		</web-resource-collection>

		<auth-constraint>

			<description>
				Sem regras, apenas bloqueio acesso direto aos JSPs
			</description>

		</auth-constraint>

	</security-constraint>







</web-app>
